@import './reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GothicA1';
  src: url('./shared//assets/fonts/GothicA1-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gaegu';
  src: url('./shared/assets/fonts/Gaegu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '인천교육자람';
  src: url('./shared/assets/fonts/인천교육자람.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maplestory';
  src: url('./shared/assets/fonts/Maplestory-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'GothicA1', sans-serif;
  font-size: 0.875rem;
}

@layer utilities {
  .wood-sign {
    @apply text-center font-woodSign text-3xl font-bold text-[#b89d80];
  }
}
