@import './reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GothicA1';
  src: url('./shared//assets/fonts/GothicA1-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gaegu';
  src: url('./shared/assets/fonts/Gaegu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '인천교육자람';
  src: url('./shared/assets/fonts/인천교육자람.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maplestory';
  src: url('./shared/assets/fonts/Maplestory-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'GothicA1', sans-serif;
  font-size: 0.875rem;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .horizontal-center {
    @apply left-1/2 transform -translate-x-1/2;
  }

  .wood-sign {
    @apply text-center font-woodSign text-xl font-bold text-[#b89d80] truncate;
  }
}
